channels
channels-redis
daphne
Django
django-channels
django-cors-headers
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
hyperlink
idna
oauthlib
pdfkit
Pillow
psycopg2-binary
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
pypng
python-decouple
qrcode
redis
reportlab
requests
requests-oauthlib
service-identity
sqlparse
typing_extensions
urllib3

